{% extends 'main.html' %}

{% load static %}

{% block title %}The Indus Echo | Home{% endblock %}

{% block description %}The Indus Echo. We cover many aspects of the history, culture and the nature of Pakistan and the Indian sub-continent.{% endblock %}

{% block css-links %} <link rel="stylesheet" href="{% static 'css/index.css' %}"> {% endblock %}


{% block main %}
<section id="top-story-section">
    <div id="main-story">
        <div id="crescent-parent">
            <svg id='star' fill="#ffffff" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <title>star</title>
                    <path
                        d="M3.488 13.184l6.272 6.112-1.472 8.608 7.712-4.064 7.712 4.064-1.472-8.608 6.272-6.112-8.64-1.248-3.872-7.808-3.872 7.808z">
                    </path>
                </g>
            </svg>
            <svg id="crescent" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg"
                xmlns:xlink="http://www.w3.org/1999/xlink" aria-hidden="true" role="img"
                class="iconify iconify--emojione-monotone" preserveAspectRatio="xMidYMid meet" fill="#ffffff"
                transform="matrix(-1, 0, 0, 1, 0, 0)">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
                <g id="SVGRepo_iconCarrier">
                    <path
                        d="M43.139 2a29.885 29.885 0 0 1 5.121 16.756c0 16.701-13.686 30.24-30.57 30.24a30.656 30.656 0 0 1-15.689-4.285C7.209 54.963 17.93 62 30.318 62C47.816 62 62 47.969 62 30.66C62 17.867 54.246 6.871 43.139 2z"
                        fill="#ffffff"></path>
                </g>
            </svg>
        </div>
        <div id="main-story-inner">
            <div class="main-story-inner-div" >
                <a href="{{ latest_posts.0.link }}">
                    <h1> {{ latest_posts.0.title }} </h1>
                    {% autoescape off %} <br>
                    <div class="top-story-desc">
                        {{ latest_posts.0.desc }}
                    </div>
                    {% endautoescape %}
                    <script>
                        var x = document.getElementById('main-story-inner')
                        x.querySelector('div').querySelector('a').innerHTML = `<h1>${x.querySelector('h1').innerText}</h1><p>${x.querySelector('p').innerText}</p>`
                    </script>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="content">
    {% load slice %}
    <div class="content-column">
        {% for story in latest_posts|slice:"1:6" %}
        <div class="article {% if forloop.last %} {{'border-none'}} {% endif %} preview-available">
            <a href="{{ story.link }}">{{ story.title }} <br><span class="date">~ {{ story.date }}</span></a>
        </div>
        {% endfor %}
    </div>
    <div class="content-column">
        {% for story in latest_posts|slice:"6:10" %}
        <div class="article {% if forloop.last %} {{'border-none'}} {% endif %} preview-available">
            <a href="{{ story.link }}">{{ story.title }} <br><span class="date">~ {{ story.date }}</span></a>
        </div>
        {% endfor %}
    </div>
    <div class="content-column special-column">
        {% for story in latest_posts %}
        <a href="{{ story.link }}">
            <div class="article-preview hide-article-preview">
                {% autoescape off %}
                {{ story.desc }}
                {% endautoescape %}
            </div>
        </a>
        {% endfor %}
        <script>
            x = document.getElementsByClassName('article-preview')
            for (const preview of x) {
                let para = preview.querySelector('p')
                preview.innerHTML = para.innerText
            }
        </script>
    </div>
</section>
{% endblock %}

{% block script %}
<script type="module">

    var animator = async () => {
        var articles = document.getElementsByClassName('preview-available')
        var previews = document.getElementsByClassName('article-preview')

        if (!articles.length) {
            console.log('Done')
            return
        }

        for (let i = 0; i < articles.length; i++) {
            var text = previews[i].innerText

            let res = ''
            res += '<p>'
            for (const char of text) {
                res += '<span class="animated-words">' + char + '</span>'
            } res += '</p>'

            var prevtext = previews[i].innerText
            text = res

            previews[i].innerHTML = text
        }

        while (true) {
            for (let i = 0; i < articles.length; i++) {

                articles[i].classList.add('selected')
                previews[i].classList.remove('hide-article-preview')

                let paragraphs = previews[i].querySelectorAll('p')

                for (const [idx, p] of paragraphs.entries()) {
                    p.innerHTML += '<span id="cursor"> | </span>'

                    var cursor = document.getElementById('cursor')

                    let words = p.querySelectorAll('.animated-words')

                    cursor.classList.remove('blinking')
                    cursor.style.display = 'inline'

                    for (const word of words) {
                        word.classList.add('visible');
                        await await new Promise(r => setTimeout(r, 10));
                    }

                    if (idx != paragraphs.length - 1)
                        p.querySelector('#cursor').remove()
                }

                var cursor = document.getElementById('cursor')

                cursor.classList.add('blinking')
                await await new Promise(r => setTimeout(r, 10000));

                paragraphs = [...paragraphs]
                paragraphs.reverse()

                cursor.remove()

                for (const [idx, p] of paragraphs.entries()) {
                    p.innerHTML += '<span id="cursor"> | </span>'

                    var cursor = document.getElementById('cursor')

                    let words = [...p.querySelectorAll('.animated-words')]
                    words.reverse()

                    cursor.classList.remove('blinking')
                    cursor.style.display = 'inline'

                    for (const word of words) {
                        word.classList.remove('visible');
                        await await new Promise(r => setTimeout(r, 10));
                    }

                    if (idx != paragraphs.length - 1)
                        p.querySelector('#cursor').remove()
                }

                cursor.classList.add('blinking')
                await await new Promise(r => setTimeout(r, 3000));
                cursor.remove()
                articles[i].classList.remove('selected')
                previews[i].classList.add('hide-article-preview')
                cursor.classList.remove('blinking')
            }
        }
    }

    await animator()

</script>
{% endblock %}