<!DOCTYPE html>
<html lang="en">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <html lang="en">
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="{% block description %}{% endblock %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    {% block css-links %} {% endblock %}
</head>

<body>
    <header>
        <div id="logo"><a href="/">𝔗𝔥𝔢 ℑ𝔫𝔡𝔲𝔰 𝔈𝔠𝔥𝔬</a></div>
    </header>
    <div id="categories">
        {% for category in request.categories %}
        <div class="category">
            <a href="{{ category.link }}">{{ category.name }}</a>
        </div>
        {% endfor %}
    </div>

    <main>
        {% block main %} {% endblock %}
    </main>

    <footer>
        <div id="footer-logo">
            <a href="/">𝔗𝔥𝔢 ℑ𝔫𝔡𝔲𝔰 𝔈𝔠𝔥𝔬</a>
        </div>
    </footer>

    {% block script %}

    {% endblock %}
</body>

</html>