{% extends 'main.html' %}

{% load lookup %}
{% load static %}

{% block title %} {{ title }} {% endblock %}
{% block description %} {{ desc }} {% endblock %}

{% block css-links %} <link rel="stylesheet" href="{% static 'css/post.css' %}"> {% endblock %}
    

{% block main %}

<div id="main-container">
    <div id="inner-container">
        <h1 id="title-text"> {{ title }} </h1>
        <span id="date">{{ date }}</span>
        <hr>
        {% autoescape off %}
        {{ content }}
        {% endautoescape %}
    </div>
</div>

{% endblock %}