#main-container {
    display: flex;
    /* justify-content: center; */
    /* padding: 2em 17em; */
}

#inner-container {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 1em 2em;
    padding-left: 5em;
    padding-top: 7em;
    max-width: 50%;

    font-size: large;
    color: rgba(0, 0, 0, 0.7);

}

#date {
    font-size: medium;
    /* text-align: center; */
}

p {
    margin-top: 0.3em;
    margin-bottom: 1em;
    text-align: justify;
}

h2 {
    margin-top: 1em;
    /* text-align: center; */
}

h3 {
    margin-top: 1em;
}

hr {
    margin-top: 1em;
}

@media (max-width: 900px) {
    #inner-container {
        /* padding: 2em 6em; */
        max-width: 65%;
    }
}

@media (max-width: 800px) {
    #main-container {
        justify-content: center;
    }

    #inner-container {
        padding: 1em 2em;
        padding-top: 6em;
    }
}

@media (max-width: 650px) {
    #main-container {
        padding: 0 0.5em;
    }

    #inner-container {
        max-width: 100%;
        padding: 1em 0;
    }

    p {
        text-align: left;
    }
}